<div *ngIf="modal" class="background-blank-modal">
  <div class="modal-blank">
    <form #userForm="ngForm" (ngSubmit)="addUser(userForm)" >
    <div class="border-bottom">
      <div class="d-flex p-3 justify-content-between align-items-center">
        <span class="fw-bold text-primary">Guardar usuario</span>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="onCloseModal(userForm)"
        ></button>
      </div>
    </div>
    <div class="p-4">
      <input
        type="hidden"
        name="_id"
        #_id="ngModel"
        [(ngModel)]="userEdit && userEdit._id"
      />
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="nombre"
              name="name"
              [maxLength]="30"
              required
              #name="ngModel"
              [(ngModel)]="
                userService.selectedUser.name
                  ? userService.selectedUser.name
                  : userEdit && userEdit.name
              "
            />
            <label for="name">Nombre</label>
          </div>
          <div class="form-floating mt-3">
            <input
              type="number"
              class="form-control"
              id="idCard"
              placeholder="cedula"
              name="idCard"
              [maxLength]="10"
              ng-pattern="/^(0|\-?[1-9][0-9]*)$/"
              required
              #name="ngModel"
              [(ngModel)]="
                userService.selectedUser.idCard
                  ? userService.selectedUser.idCard
                  : userEdit && userEdit.idCard
              "
            />
            <label for="idCard">Cedula</label>
          </div>
          <div class="form-floating mt-3">
            <input
              type="number"
              class="form-control"
              id="phone"
              placeholder="telefono"
              name="phone"
              [maxLength]="10"
              ng-pattern="/^(0|\-?[1-9][0-9]*)$/"
              #name="ngModel"
              required
              [(ngModel)]="
                userService.selectedUser.phone
                  ? userService.selectedUser.phone
                  : userEdit && userEdit.phone
              "
            />
            <label for="phone">Telefono</label>
          </div>
        </div>

        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellido"
              name="lastname"
              [maxLength]="30"
              required
              #name="ngModel"
              [(ngModel)]="
                userService.selectedUser.lastname
                  ? userService.selectedUser.lastname
                  : userEdit && userEdit.lastname
              "
            />
            <label for="lastname">Apellido</label>
          </div>
          <div class="form-floating mt-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              name="email"
              #name="ngModel"
              required
              [(ngModel)]="
                userService.selectedUser.email
                  ? userService.selectedUser.email
                  : userEdit && userEdit.email
              "
            />
            <label for="email">Email</label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button
          type="button"
          class="btn btn-danger"
          (click)="onCloseModal(userForm)"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-success mx-2" type="submit">
          Guardar
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
