.background-blank-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(122, 133, 151, 0.7);
  z-index: 60 !important;
}

.modal-blank {
  position: fixed;
  width: 634px;
  max-width: 100%;
  display: block;
  background: white;
  box-shadow: 0px 1px 10px -4px rgba(68, 84, 111, 0.3);
  border-radius: 8px;
  height: 360px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  &.small {
    width: 502px;
    height: 295px;
  }
  &.medium {
    width: 634px;
    height: 497px;
  }
  &.medium-2 {
    width: 760px;
    height: 563px;
  }

  &.large {
    width: 611px;
    max-width: 100%;
    height: 98%;
    max-height: 100%;
  }
}
