<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-white text-capitaliz fs-3" href="/"> Prueba</a>
  </div>
</nav>

<div class="main-test">
  <app-users></app-users>
</div>