<div class="container">
  <div class="card shadow-sm p-3 my-3">
    <div class="d-flex justify-content-end">
      <button class="btn btn-success" (click)="openModal()">
        Agregar Usuario
      </button>
    </div>
    <app-table
      [column]="column"
      [data]="userService.users"
      (onGetUser)="onGetUsers($event)"
      (onOpenModal)="onOpenModalEdit($event)"
    ></app-table>
  </div>
</div>

<app-modal
  [modal]="modalOpen"
  (closeModal)="processMessage($event)"
  (onGetUser)="onGetUsers($event)"
  [userEdit]="userEdit"
></app-modal>
