<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th *ngFor="let item of column" scope="col">{{ item.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of data">
      <td *ngFor="let col of column">
        {{ data[col.key] }}
        <div class="d-flex" *ngIf="col.key === crud">
          <i class="fas fa-user-edit cursor" (click)="editUser(data)"></i>
          <i
            class="fas fa-trash mx-2 cursor"
            (click)="deleteUser(data._id)"
          ></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
